* {
    background: #f9f9f9;
}

/* PORTADA IMAGEN */
.portada {
        background-image: url(img/fondo.jpg);
        /*grid-column: 1/-1;*/
        display: grid;
        height: 200px;
        place-content: center; 
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        text-align: center;
}

.portada h1{
    border-radius: 10px;
    padding: 10px;
}


/* CONTENIDO */

.contenedor {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
}

/* CAPA 1 */
.info-negocio {
    background: rgba(3, 158, 255, 0);
    text-align: -webkit-center;
    margin-top: -140px;
}

.info-negocio-capa {
    width: 360px;
    height: 800px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgb(25 25 25 / 10%);
}

.info-negocio-capa p, h1, img{
    background-color: #fff;
}

.logo {
    width: 110px;
    margin-top: 10px;
}

/* CAPA 2 */
.info-sellos {
    background: rebeccapurple;
}

.listas {
    display: flex;
    flex-wrap: wrap;
}

.listas p {
    margin: 20px;
}

.listas p a:active {
    background: #000000;
}

.modelos {
    display: flex;
    flex-wrap: wrap;
}

.modelos img {
    width: 400px;
    margin: 10px;
}

@media (max-width: 1200px) {
    /* PORTADA IMAGEN */
    .portada {
        background-image: url(img/fondo.jpg);
        /*grid-column: 1/-1;*/
        display: grid;
        height: 200px;
        place-content: center; 
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        text-align: center;
    }

    /* CONTENIDO */

    .contenedor {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    }
}